h1 {
    color: #00840f;
}

content button.index {
    color: #a452b8;
    background: none;
}

button.index{
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
}

.index:hover{
    color: aquamarine;
    background-color: #9a2579;
}
a.index {
    text-decoration: none;
    color: black;
}

h2 {
    color: black;
    padding: 5px;
}

input {
    display: block;
    width: 30%;
    margin-top: 5px;
}

button.submit {
   padding: 10px;
    background-color: #00a5ff;
    margin-top: 5px;
    border: solid 1px blue;

}


button.submit:hover {
    padding: 10px;
    background-color: blue;
    color: white;
    margin-top: 5px;
    border: solid 1px #00a5ff;
}